.dashboard-employee-title {
  font-size: 45px;
  font-weight: 300;
  padding: 15px 0;
  color: #1677ff;
}

.user-info {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 100%;
}

.user-info h3 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.user-info ul {
  list-style: none;
  padding: 0;
}

.user-info li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user-info svg {
  margin-right: 8px;
}
